body{
    background-color: #311c3d;
}

.header_cabecalho {
    background-color: black;
    display: flex;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}
.cabecalho {
    color: red;
    font-family: Aldrich;
    font-size: 60px;
    padding: 5px 300px 5px 300px;
}
