body{
    background-color: #311c3d;
}

.header_cabecalho {
    background-color: black;
    display: block;
    padding: 30px;
    max-width: 1440px;
    margin: 0;
}
.header_cabecalho h1 {
    color: white;
    font-family: Aldrich;
    font-size: 60px;
    text-align: center;
}
